@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&display=swap');

body {
    background-image: linear-gradient(#d5ecff, #fff);
    background-size: cover;
}

.fs-navitem {
    font-size: 1.5rem;
}

.fs-main {
    font-size: 4.25rem;
}

.title {
    color: #487799;
    font-size: 3rem;
    font-weight: 700;
}

.ff-jura {
    font-family: 'Jura', sans-serif;
}
.color-darkblue-1 {
    color: #487799;
}

.bg-lightblue {
    background-color: #b3ddfd;
}

.description-text {
    line-height: 1.6;
    font-size: 1.5rem;
    font-weight: 500;
}

.border-morado {
    border-color: #480ca8;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
}

.card-title {
    font-size: 2rem;
    font-weight: 700;
}

.card-text, .card-body > div > a{
    font-size: 1.5rem;
    font-weight: 500;
}

#text-caracter {
    font-size: 4.5rem;
    user-select: none;
    animation-name: cursor;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.link-darkblue {
    color: #304F66;
}

.link-darkblue:hover {
    color: #3273a1;
}

.reveal{
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: 0.5s all ease;
  }
  
.reveal.active{
    transform: translateX(0);
    opacity: 1;
    transition-duration: 0.5s;
}

.ico-circle {
    display:inline-flex;
    align-items: center;
    height: 128px;
    width: 128px;
    border-color: #0C2863;
    background-color: #fff;
}

.icon {
    fill: #304F66;
    height: 2.5rem;
    transition: fill-opacity 200ms;
}

.border-darkblue {
    border-bottom-color: #3273a1 !important;
}

.shadow-b {
    box-shadow: 0 5px 5px #869cb11f;
}

section {
    padding-top: 100px;
    margin-bottom: 200px;
}

.menu-icon {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 990px) {

    .underline-hover::after {
        content: '';
        width: 0px;
        height: 3px;
        display: block;
        background:#3273a1;
        transition: 300ms;
        transition-timing-function: ease-out;
    }

    .underline-hover:hover::after {
        width: 100%;
    }

    .maxw-lg {
        max-width: 35rem;
    }
    .h-lg {
        height: 38rem !important;
    }

    .card-title {
        font-size: 1.75rem;
    }
    .card-text, .card-body > div > a{
        font-size: 1.25rem;
    }
    
    .icon:hover {
        fill-opacity: 0.7;
    }

    .description-text {
        line-height: 1.6;
        font-size: 2.25rem;
        font-weight: 500;
    }
    .card-text, .card-body > div > a{
        font-size: 2rem;
    }
    .card-title {
        font-size: 2.5rem;
    }
    section {
        padding-top: 200px;
        margin-bottom: 400px;
    }

    .menu-icon {
        width: 3rem;
        height: 3rem;
    }
}

.shadow-rb {
    box-shadow: 10px 10px 20px #b3bcc5;
}


@media screen and (max-width: 580px){
    .reveal {
        transform: translateX(10px);
    }
    #hola {
        font-size: 2.5rem;
    }
    #text-caracter {
        font-size: 3.5rem;
    }
}

@keyframes cursor {
    0% { opacity: 0;}
    40% { opacity: 0;}
    60% {opacity: 1;}
}
